
<section>
	<div>
<h1 class="tac nmb">Fiona Grace</h1>
<h1 class="bt tac nm">Dog Extraordinaire</h1>
<%= image_tag("Fiona.jpg", :alt => "Fiona") %>
</div>
</section>

<style>
	section { height: 100vh; width: 100%;  display: flex; align-items: center; justify-content: center;}
	.bt { font-size: 104pt; }
	.nm { margin: 0; }
	.nmb { margin-bottom: 0; }
	.tac { text-align: center; }
	body { font-family: 'Open Sans Condensed', sans-serif; }
	.accent { font-family: 'Liu Jian Mao Cao', cursive;  }
	img { display: block; width: 250px; margin: 0 auto;
	}
</style>